{% extends 'cal/base.html' %}

{% block title %}
Workout Calendar
{% endblock %}

{% block content %}
<div class="clearfix">
	<a class="btn btn-info left" href="{% url 'cal:calendar' %}?{{ prev_month }}"> Previous Month </a>
	<a class="btn btn-info right" href="{% url 'cal:calendar' %}?{{ next_month }}"> Next Month </a>
	<a class="btn btn-info right" href="{% url 'cal:workout_new' %}"> New Workout </a>
	<a class="btn btn-info left" href="{% url 'cal:video_list' %}"> Videos </a>
</div>

{{ calendar }}
{% endblock %}