{% extends "cal/base.html" %}

{% load embed_video_tags %}

{% block title %}
{{ object.title }}
{% endblock %}


{% block content %}
<div class="clearfix">
	<a class="btn btn-info right" href="{% url 'cal:video_list' %}"> Back to list </a>
</div>

{% video object.video as my_video %}
  <pre>
    <!-- Backend: {{ my_video.backend }} -->
    URL: {{ my_video.url }}
    <!-- Code: {{ my_video.code }}
    Thumbnail: {{ my_video.thumbnail }}
    HTTPS: {% if my_video.protocol == 'https' %}Yes{% else %}No{% endif %}</pre> -->

  {% video my_video "large" %}
{% endvideo %}

{% endblock %}
