{% extends "cal/base.html" %}

{% load embed_video_tags %}

{% block title %}
{{ object.title }}
{% endblock %}

{% block content %}
<div class="clearfix">
	<a class="btn btn-info left" href="{% url 'cal:video_list' %}"> Back to list </a>
	<a class="btn btn-info right" href="{% url 'cal:workout_new' %}"> New Workout </a>
	<a class="btn btn-info right" href="{% url 'cal:video_edit' object.pk %}"> Edit Video </a>
</div>
{% video object.video as my_video %}
  <pre>
    Tags: {% for tag in object.tags.all %}<a href="{% url 'cal:tagged_videos' tag.slug %}">{{ tag }}</a>, {% endfor %}
    URL: {{ my_video.url }}
    {#  Tags: {{my_video.tags.all|join:", "}} Backend: {{ my_video.backend }} Code: {{ my_video.code }} Thumbnail: {{ my_video.thumbnail }} HTTPS: {% if my_video.protocol == 'https' %}Yes{% else %}No{% endif %} #}
  </pre>
  {% video my_video '1280x720' %}
{% endvideo %}

{% endblock %}
