{% extends "cal/base.html" %}

{% load embed_video_tags %}

{% block title %}
   Videos
{% endblock %}

{% block content %}
<div class="clearfix">
   <a class="btn btn-info left" href="{% url 'cal:calendar' %}"> Calendar </a>
	<a class="btn btn-info right" href="{% url 'cal:video_new' %}"> New Video </a>
</div>

{% if tag %}
    <h4>Videos tagged as {{ tag }}</h4>
{% endif %}

  <table class="table">
    {% for post in object_list %}
    <tr>
      {% video post.video as video %}
      <td><img src="{{ video.thumbnail }}" width=60 height=45 class="img-rounded"></td>
        <td><a href="{{ post.get_absolute_url }}">{{ post.channel }} - {{ post.title }}</a>
         {% if post.tags.all %} - <small>Tags: {% for tag in post.tags.all %}<a href="{% url 'cal:tagged_videos' tag.slug %}">{{ tag }}</a> {% endfor %} {% endif %}</small></td>
      {% endvideo %}
    </tr>
    {% endfor %}
  </table>

  <ul class="pager">
    {% if page_obj.has_previous %}
    <li class="previous"><a href="?page={{ page_obj.previous_page_number }}">&larr; Older</a></li>
    {% endif %}
    {% if page_obj.has_next %}
      <li class="next"><a href="?page={{ page_obj.next_page_number }}">Newer &rarr;</a></li>
    {% endif %}
  </ul>
{% endblock %}
